<li><a href="#">Explorer</a></li>

<% if user_signed_in? %>
  <li>
    <a class="dropdown-navbar" href="#" data-target="dropdown-user">
      <%= current_user.username %><i class="material-icons right"></i>
    </a>
  </li>
<% else %>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
  <li><%= link_to 'Sign in', user_session_path %></li>
<% end %>
