<div class="modal" data-target="modal.container">
  <div class="modal-background" data-target="modal.background" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard"></div>
  <div class="modal-card">
    <%= form_with model: @fluck.setting, url: settings_fluck_path(fluck.nickname), method: 'put', local: true do |form| %>
      <header class="modal-card-head">
        <p class="modal-card-title">Customize Fluck</p>
        <button class="delete" aria-label="close" data-action="click->modal#close"></button>
      </header>
      <section class="modal-card-body" id="modal_body_edit_rules">
        <section class="hero is-danger mb-4 is-hidden" style="border-radius: 5px;" id="message_error_setting">
          <div class="hero-body" style="padding: 1rem 2rem;">
            <div class="container">
              <h6 class="title is-4"></h6>

              <div class="content">
                <ul class="ml-4" id="ul_error_settings"></ul>
              </div>
            </div>
          </div>
        </section>

        <%= render partial: 'fluck_settings/form', locals: { form: form, setting: @fluck.setting } %>
      </section>
      <footer class="modal-card-foot">
        <button class="button" data-action="click->modal#close" style="margin-left: auto;">Cancel</button>
        <%= form.button 'Update', class: 'button is-success' %>
      </footer>
    <% end %>
  </div>
</div>
