<footer class="footer" style="grid-row-start: 2; grid-row-end: 3;">
  <div class="content has-text-centered">
    <p>
      © 2020 Copyright: <%= link_to 'flucktuba.com', root_path %>
    </p>
  </div>
</footer>
