@import 'dark_mode';
@import '~bulma';
@import '../../../node_modules/bulma-extensions/src/sass/index.sass';
@import 'helpers';
@import 'dropzone';

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: gray;
}

.edit-rule {
  cursor: pointer;

  &:hover {
    color: #4caf50 !important;
  }
}

.delete-rule {
  cursor: pointer;

  &:hover {
    color: #d73a49 !important;
  }
}
