@import 'dark_mode';
@import '~bulma';
@import '../../../node_modules/bulma-extensions/src/sass/index.sass';
@import 'helpers';
@import 'dropzone';

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: gray;
}

.fa-edit {
  cursor: pointer;

  &:hover {
    color: #4caf50 !important;
  }
}

.fa-trash-alt {
  cursor: pointer;

  &:hover {
    color: #d73a49 !important;
  }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-out {
	opacity: 0;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 2s;
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.navbar-item {
  &.has-dropdown {
    .navbar-dropdown {
      display: none;
    }

    &.is-active {
      .navbar-dropdown {
        display: block;
      }
    }
  }
}
